<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd ">


    <import resource="spring-servlet.xml"/>
    <import resource="service-config.xml"/>
    <import resource="dao-config.xml"/>
    <import resource="mail-config.xml"/>
    <import resource="dataSource.xml"/>


    <bean id="dbHelper" class="com.sysu.crowdsourcing.tools.DBHelper"/>


    <!--<bean id= "webBindingInitializer" class= "org.springframework.web.bind.support.ConfigurableWebBindingInitializer">-->
    <!--<property name= "conversionService" ref= "conversionService"/>-->
    <!--</bean>-->

    <!--<bean class= "org.springframework.web.servlet.mvc.method.annotation.RequestMappi ngHandlerAdapter">-->
    <!--<property name= "webBindingInitializer" ref= "webBindingInitializer"/>-->
    <!--</bean>-->


</beans>